.section2 {
    background-color: lightblue;
}

.section3 {
    background-color: lightgreen;
}

p {
    font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
    font-size: 1.2em
}
